<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Settings:</strong>
    <%= profile.settings %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= profile.data %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= profile.status %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= profile.deleted %>
  </p>

</div>
