<div id="<%= dom_id account %>">
  <p>
    <strong>id:</strong>
    <%= account.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= account.password_digest %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= account.deleted %>
  </p>

</div>
