<% content_for :title, "パスワードを変更" %>

<h1>パスワードを変更</h1>
<p>現在のパスワードと新しいパスワード、新しいパスワードの確認を入力してください。</p>

<%= form_with(model: @current_account, url: account_password_update_path, method: :patch, data: { turbo: false }) do |form| %>
  <%= render "shared/error_messages", instead: @current_account %>

  <div>
    <%= form.label :current_password, style: "display: block" %>
    <%= form.password_field :current_password, value: params.dig("account", "current_password") %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, value: params.dig("account", "password") %>
  </div>

  <div>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, value: params.dig("account", "password_confirmation") %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
