<h1>登録情報を変更</h1>
<%= form_with(model: @current_account, url: account_edit_path, data: { turbo: false }) do |form| %>
  <%= render 'shared/error_messages', instead: @current_account %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.text_field :id, disabled: true %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :name_id, style: "display: block" %>
    <%= form.text_field :name_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'メールを変更', account_email_edit_path %><br>
<%= link_to 'パスワードを変更', account_password_edit_path %>
