<h1>アカウントを切り替え</h1>

<%= form_with url: account_change_path, method: :post, data: { turbo: false } do %>
  <% @accounts.each do |account| %>
    <div>
      <%= radio_button_tag :selected_account_id, account.id, account.id == @current_account.id %>
      <%= label_tag "selected_account_id_#{account.id}", "アカウント名: #{account.name}(ID: #{account.name_id})" %>
    </div>
  <% end %>

  <div>
    <%= submit_tag "使用アカウントを切り替え" %>
  </div>
<% end %>

<h2>現在のアカウント</h2>
名前:<%= @current_account.name %><br />
ID:<%= @current_account.name_id %><br />
<%= link_to "詳しく", account_path %>
