<% content_for :title, "アカウント" %>

<h1>アカウント</h1>

<div>
  <p>
    <strong>固有ID:</strong>
    <%= @current_account.aid %>
  </p>

  <p>
    <strong>名前:</strong>
    <%= @current_account.name %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= @current_account.name_id %>
  </p>

  <p>
    <strong>メール:</strong>
    <%= @current_account.email %>
    <br />
    <% if @current_account.email_verified %>
      ✅メール認証済み
    <% else %>
      ❎メール認証していません<br />
      <%= link_to "📬認証コードを送信", account_verify_email_path(send_code: true) %><br />
      <%= link_to "🔢認証コードを入力", account_verify_email_path %>
    <% end %>
  </p>
</div>
<div>
  <%= link_to "登録情報を変更", account_edit_path %>
  <br /><br />
  <%= link_to "サブスクリプション", subscriptions_path %>
  <br /><br />
  <%= link_to "アカウントを切り替え", account_change_path %>
  <br /><br />
  <%= button_to "ログアウト", signout_path, method: :delete, data: {turbo: false} %>
  <br />
  <%= link_to "アカウントを削除", account_delete_path %>
</div>
