<% content_for :title, "メール認証" %>

<h1>メール認証</h1>

<p>メール認証コードを入力してください。</p>

<%= form_with url: account_verify_email_path, method: :post, data: {turbo:false} do |form| %>
  <div>
    <%= form.label :verification_code, "認証コード" %><br>
    <%= form.text_field :verification_code, pattern: "\\d{6}", required: true, maxlength: 6, autofocus: true %>
  </div>

  <div>
    <%= form.submit "認証する" %>
  </div>
<% end %>

<% if flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>
