<% content_for :title, "お問い合わせ一覧" %>

<h1>お問い合わせ一覧</h1>

<div id="inquiries">
  <hr />
  <% @inquiries.each do |inquiry| %>
    <p>
      <strong>件名:</strong> <%= inquiry.subject %>
      <br />
      <strong>名前:</strong> <%= inquiry.name %>
      <br />
      <strong>メール:</strong> <%= inquiry.email %>
      <br />
      <strong>作成:</strong> <%= inquiry.created_at %>
    </p>
    <p>
      <strong>内容:</strong> <%= inquiry.content %>
    </p>
    <hr />
  <% end %>
</div>
