<% content_for :title, "サインイン" %>

<h1>サインイン</h1>

<%= form_with(url: 'login') do |form| %>
  <div>
    <%= form.label :name_id, 'ID', style: "display: block" %>
    <%= form.text_field :name_id %>
  </div>

  <div>
    <%= form.label :password, 'パスワード', style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit 'サインイン' %>
  </div>
<% end %>

<%= link_to('アカウントを作成', new_account_path) %>