<div id="<%= dom_id document %>">
  <p>
    <strong>Name:</strong>
    <%= document.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= document.name_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= document.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= document.status %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= document.deleted %>
  </p>

</div>
