<% content_for :title, "認可" %>
<% content_for :robots, "noindex,nofollow,noarchive" %>

<% if @error.present? %>
  <h2>認可エラー</h2>
  <p><%= @error %></p>
<% else %>
  <h2><%= @service.name %> が次の情報へアクセスしようとしています：</h2>

  <ul>
    <% (params[:scope] || "").split(" ").each do |scope| %>
      <% if scope == "anyur_aid" %>
      <li>
        <strong>ANYURの固有ID</strong> (<%=@current_account.aid%>)<br />
        <small>ANYURのアカウントに与えられた変更不可能な固有IDです。</small>
      </li>
      <% end %>
      <% if scope == "id" %>
      <li>
        <strong>外部連携用 固有ID</strong> (下で作成/選択)<br />
        <small>外部連携用に作成されたIDです。</small>
      </li>
      <% end %>
      <% if scope == "email" %>
      <li>
        <strong>メール</strong> (<%=@current_account.email%>)<br />
        <small>ANYURのアカウントに登録されたメールを提供します。</small>
      </li>
      <% end %>
      <% if scope == "name" %>
      <li>
        <strong>名前</strong> (<%=@current_account.name%>)<br />
        <small>ANYURのアカウントに登録された名前を提供します。</small>
      </li>
      <% end %>
      <% if scope == "name_id" %>
      <li>
        <strong>ID</strong> (<%=@current_account.name_id%>)<br />
        <small>ANYURのアカウントに登録されたIDを提供します。</small>
      </li>
      <% end %>
      <% if scope == "subscription" %>
      <li>
        <strong>サブスクリプション</strong> (契約の状態・種別・期間など)<br />
        <small>ANYURのアカウントで契約されたサブスクリプションの状況を提供します。</small>
      </li>
      <% end %>
    <% end %>
  </ul>

  <%= form_with url: oauth_authorize_path, method: :post, data:{turbo:false} do %>
    <%= hidden_field_tag :client_id, params[:client_id] %>
    <%= hidden_field_tag :redirect_uri, params[:redirect_uri] %>
    <%= hidden_field_tag :state, params[:state] %>
    <%= hidden_field_tag :scope, params[:scope] %>
    <%= hidden_field_tag :response_type, params[:response_type] %>

    <% if @personas.size == 0 %>
    <div>
      <%= radio_button_tag :persona_aid, "", true, {id: "persona_aid_none", value: "none"} %>
      <%= label_tag "persona_aid_none", "新たな連携を作成" %>
      <br />
      <%= label_tag "persona_name", "新たな連携の名前" %>
      <%= text_field_tag :persona_name, "#{@service.name}との連携#{@personas.size + 1}" %>
    </div>
    <% end %>

    <% @personas.each do |persona| %>
      <div>
        <%= radio_button_tag :persona_aid, persona.aid %>
        <%= label_tag "persona_aid_#{persona.aid}", "#{persona.name} (固有ID: #{persona.aid})" %>
      </div>
    <% end %>
    <br />
    <%= submit_tag "許可する" %>
    <%= link_to "キャンセル", home_path %>
  <% end %>
<% end %>
