<% content_for :title, "認可" %>
<% content_for :robots, "noindex,nofollow,noarchive" %>

<% if @error.present? %>
  <h2>認可エラー</h2>
  <p><%= @error %></p>
<% else %>
  <h2><%= @service.name %> が次の情報へアクセスしようとしています：</h2>

  <ul>
    <% (params[:scope] || "").split(" ").each do |scope| %>
      <% if scope == "id" %>
      <li><strong>固有ID</strong> (<%=@current_account.aid%>)</li>
      <% end %>
      <% if scope == "email" %>
      <li><strong>メール</strong> (<%=@current_account.email%>)</li>
      <% end %>
      <% if scope == "name" %>
      <li><strong>名前</strong> (<%=@current_account.name%>)</li>
      <% end %>
      <% if scope == "name_id" %>
      <li><strong>ID</strong> (<%=@current_account.name_id%>)</li>
      <% end %>
    <% end %>
  </ul>

  <%= form_with url: oauth_authorize_path, method: :post, data:{turbo:false} do %>
    <%= hidden_field_tag :client_id, params[:client_id] %>
    <%= hidden_field_tag :redirect_uri, params[:redirect_uri] %>
    <%= hidden_field_tag :state, params[:state] %>
    <%= hidden_field_tag :scope, params[:scope] %>
    <%= hidden_field_tag :response_type, params[:response_type] %>

    <% if @personas.size == 0 %>
    <div>
      <%= radio_button_tag :persona_id, "", true, {id: "persona_id_none", value: "none"} %>
      <%= label_tag "persona_id_none", "新たな連携を作成" %>
      <br />
      <%= label_tag "persona_name", "新たな連携の名前" %>
      <%= text_field_tag :persona_name, "#{@service.name}との連携#{@personas.size + 1}" %>
    </div>
    <% end %>

    <% @personas.each do |persona| %>
      <div>
        <%= radio_button_tag :persona_id, persona.id %>
        <%= label_tag "persona_id_#{persona.id}", "#{persona.name}(ID: #{persona.id})" %>
      </div>
    <% end %>
    <br />
    <%= submit_tag "許可する" %>
    <%= link_to "キャンセル", home_path %>
  <% end %>
<% end %>
