<h1>admin page/index</h1>

<%= link_to "documents", admin_documents_path %>
<br />
<%= link_to "services", admin_services_path %>
<br />
<%= link_to "inquiries", admin_inquiries_path %>
<br />
<%= link_to "personas", admin_personas_path %>
<br />
<%= link_to "test", admin_test_path %>
