<h1>admin page/test</h1>

<div style="overflow: auto;">
  <div>
    <strong>session: </strong>
    <% if session.present? %>
      <table>
        <thead>
          <tr>
            <th>キー</th>
            <th>値</th>
          </tr>
        </thead>
        <tbody>
          <% session.each do |key, value| %>
            <tr>
              <td><%= key.inspect %></td>
              <td><%= value.inspect %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>セッションは空です。</p>
    <% end %>
  </div>
  <div>
    <strong>host: </strong>
    <%= request.host %>
  </div>
  <div>
    <strong>host_with_port: </strong>
    <%= request.host_with_port %>
  </div>
  <div>
    <strong>base_url: </strong>
    <%= request.base_url %>
  </div>
  <div>
    <strong>remote_ip: </strong>
    <%= request.remote_ip %>
  </div>
  <div>
    <strong>ip: </strong>
    <%= request.ip %>
  </div>
  <div>
    <strong>user_agent: </strong>
    <%= request.user_agent %>
  </div>
  <div>
    <strong>referer: </strong>
    <%= request.referer %>
  </div>
  <div>
    <strong>origin: </strong>
    <%= request.origin %>
  </div>
  <div>
    <strong>header: </strong>
    <% headers = request.headers.env.select { |k, _| k.start_with?("HTTP_", "CONTENT_", "REMOTE_", "REQUEST_") } %>
    <table>
      <thead>
        <tr>
          <th>Header</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% headers.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>