<% content_for :title, "Sing up to ANYUR" %>

<h1>Sign up to ANYUR</h1>
<p>アカウントを作成します。</p>

<h2>情報を入力してください</h2>

<div data-controller="turnstile"
     data-turnstile-environment-value="<%= Rails.env %>"
     data-turnstile-sitekey-value="<%= ENV.fetch("CLOUDFLARE_TURNSTILE_SITE_KEY") %>">
<%= form_with model: @account, url: signup_1_path, class: "ctmf", data: { turbo: false } do |f| %>
  <%= render "shared/error_messages", instead: @account %>

  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
    <small>
      1~20字のすべての文字を使用できます
    </small>
  </div>

  <div>
    <%= f.label :name_id, "ID" %>
    <%= f.text_field :name_id %>
    <small>
      5~20字の英字(大文字小文字区別せず)・数字・_(アンダーバー)を使用できます
      <br />
      公開されず、サインインに必要です
    </small>
  </div>

  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, value: @account.password, data: { controller: "ctmf-password" } %>
    <small>
      8~30字のすべての文字を使用できます
    </small>
  </div>

  <div>
    <%= f.check_box :terms_agreed %>
    <%= f.label :terms_agreed, "利用規約とプライバシーポリシーに同意する" %>
    <small>
      アカウントを作成するにはANYURの<%= link_to "利用規約", terms_of_service_path %>と<%= link_to "プライバシーポリシー", privacy_policy_path %>に同意する必要があります
    </small>
  </div>

  <div class="cf-turnstile" data-turnstile-target="widget"></div>

  <div>
    <%= f.submit "進む", data: { turnstile_target: "submit" }, disabled: true %>
  </div>
<% end %>
</div>

<p>アカウントをお持ちならば、<%= link_to(signin_path) do %>Sign in<% end %>。</p>
