<% content_for :title, "Sing up to ANYUR" %>

<h1>Sign up to ANYUR</h1>
<p>アカウントを作成します。</p>

<h2>入力内容を確認してください</h2>

<div data-controller="turnstile"
     data-turnstile-environment-value="<%= Rails.env %>"
     data-turnstile-sitekey-value="<%= ENV.fetch("CLOUDFLARE_TURNSTILE_SITE_KEY") %>">
<%= form_with model: @account, url: signup_2_path, class: "ctmf", data: { turbo: false } do |f| %>
  <%= render "shared/error_messages", instead: @account %>

  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, disabled: true %>
  </div>

  <div>
    <%= f.label :name_id, "ID" %>
    <%= f.text_field :name_id, disabled: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation, data: { controller: "ctmf-password" } %>
  </div>

  <div class="cf-turnstile" data-turnstile-target="widget"></div>

  <div>
    <%= f.submit "作成", data: { turnstile_target: "submit" }, disabled: true %>
  </div>
<% end %>
</div>

<%= button_to("戻る", signup_path, method: :get, data: { turbo: false }) %>

<p>アカウントをお持ちならば、<%= link_to(signin_path) do %>Sign in<% end %>。</p>
