<h1>Sign up to ANYUR</h1>
<p>アカウントを作成します。</p>

<h2>入力内容を確認してください</h2>
<%= form_with model: @account, url: signup_2_path, data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', instead: @account %>
  <%= f.label :name, '名前', class: '' %>
  <%= f.text_field :name, disabled: true, class: '' %>
  <br />
  <%= f.label :name_id, 'ID', class: '' %>
  <%= f.text_field :name_id, disabled: true, class: '' %>
  <br />
  <%= f.label :email, 'メール', class: '' %>
  <%= f.text_field :email, disabled: true, class: '' %>
  <br />
  <%= f.label :password_confirmation, 'パスワード(確認)', class: '' %>
  <%= f.password_field :password_confirmation, class: '' %>
  <br />
  <%= f.submit '作成' %>
  <br />
  <small>
    アカウントを作成することで、ANYURの<%= link_to '利用規約', terms_of_service_path %>と<%= link_to 'プライバシーポリシー', privacy_policy_path %>に同意したことになります
  </small>
<% end %>
<br />
<%= button_to('戻る', signup_path, method: :get, data: { turbo: false }) %>
<p>アカウントをお持ちならば、<%= link_to(signin_path) do %>Sign in<% end %>。</p>