<% content_for :title, "サブスクリプションを開始" %>

<h1>サブスクリプションを開始</h1>

<% if @subscription %>
  <p>✅既にサブスクリプションに加入しています✅</p>
<% end %>

<br /><br />

<div>
  <h2>🌈ANYUR BASIC⚡</h2>
  <p>月額 <strong>¥0</strong></p>
  <p>お申し込みは不要です</p>
  <p>サブスクリプションをしていなければ自動的にこのプランになります</p>
</div>

<br /><br />

<div>
  <h2>🍭ANYUR PLUS💗</h2>
  <p>月額 <strong>¥300</strong></p>
  <% if @subscription %>
    <% if @subscription.stripe_plan_id == ENV['ANYUR_PLUS_STRIPE_PRICE_ID'] %>
      <p>このプランに加入中です</p>
    <% else %>
      <%= form_with url: change_subscriptions_path, method: :post, data: { turbo: false } do |form| %>
        <%= form.hidden_field :price_id, value: ENV['ANYUR_PLUS_STRIPE_PRICE_ID'] %>
        <%= form.submit "このプランに変更する" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with url: subscriptions_path, method: :post, data: { turbo: false } do |form| %>
      <%= form.hidden_field :price_id, value: ENV['ANYUR_PLUS_STRIPE_PRICE_ID'] %>
      <%= form.submit "このプランに登録する" %>
    <% end %>
  <% end %>
</div>

<br /><br />

<div>
  <h2>🌠ANYUR PREMIUM🌟</h2>
  <p>月額 <strong>¥1,000</strong></p>
  <% if @subscription %>
    <% if @subscription.stripe_plan_id == ENV['ANYUR_PREMIUM_STRIPE_PRICE_ID'] %>
      <p>このプランに加入中です</p>
    <% else %>
      <%= form_with url: change_subscriptions_path, method: :post, data: { turbo: false } do |form| %>
        <%= form.hidden_field :price_id, value: ENV['ANYUR_PREMIUM_STRIPE_PRICE_ID'] %>
        <%= form.submit "このプランに変更する" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with url: subscriptions_path, method: :post, data: { turbo: false } do |form| %>
      <%= form.hidden_field :price_id, value: ENV['ANYUR_PREMIUM_STRIPE_PRICE_ID'] %>
      <%= form.submit "このプランに登録する" %>
    <% end %>
  <% end %>
</div>

<br /><br />

<div>
  <h2>🔮ANYUR LUXURY🪄</h2>
  <p>月額 <strong>¥3,200</strong></p>
  <% if @subscription %>
    <% if @subscription.stripe_plan_id == ENV['ANYUR_LUXURY_STRIPE_PRICE_ID'] %>
      <p>このプランに加入中です</p>
    <% else %>
      <%= form_with url: change_subscriptions_path, method: :post, data: { turbo: false } do |form| %>
        <%= form.hidden_field :price_id, value: ENV['ANYUR_LUXURY_STRIPE_PRICE_ID'] %>
        <%= form.submit "このプランに変更する" %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_with url: subscriptions_path, method: :post, data: { turbo: false } do |form| %>
      <%= form.hidden_field :price_id, value: ENV['ANYUR_LUXURY_STRIPE_PRICE_ID'] %>
      <%= form.submit "このプランに登録する" %>
    <% end %>
  <% end %>
</div>
