<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= service.host %>
  </p>

  <p>
    <strong>Callback:</strong>
    <%= service.callback %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service.status %>
  </p>

  <p>
    <strong>Deleted:</strong>
    <%= service.deleted %>
  </p>

</div>
