<% content_for :title, @service.name %>

<h1><%= @service.name %></h1>
<p>アクセス: <a href="https://<%= @service.host %>" target="_blank" rel="noopener noreferrer">↗️<%= @service.host %></a></p>
<hr />
<div>
  <%= md_render @service.description %>
</div>
<hr />
<div>
  <%= link_to "一覧へ", services_path %>
</div>
