<h1>Sign in to ANYUR</h1>
<p>サインインします。</p>

<%= form_with model: @account, url: signin_path, scope: :session, data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', instead: @account %>
  <%= f.label :name_id, 'ID', class: '' %>
  <%= f.text_field :name_id, class: '' %>
  <br />
  <%= f.label :password, 'パスワード', class: '' %>
  <%= f.password_field :password, value: @account.password, class: '' %>
  <br />
  <%= f.submit 'サインイン' %>
<% end %>
<p>アカウントをお持ちでなければ、<%= link_to(signup_path) do %>Sign up<% end %>。</p>