<% content_for :title, "Sign in to ANYUR" %>

<h1>Sign in to ANYUR</h1>
<p>サインインします。</p>

<div data-controller="turnstile"
     data-turnstile-environment-value="<%= Rails.env %>"
     data-turnstile-sitekey-value="<%= ENV.fetch("CLOUDFLARE_TURNSTILE_SITE_KEY") %>">
<%= form_with model: @account, url: signin_path, scope: :session, class: "ctmf", data: { turbo: false } do |f| %>
  <%= render "shared/error_messages", instead: @account %>

  <div>
    <%= f.label :name_id, "ID" %>
    <%= f.text_field :name_id %>
  </div>
  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, value: @account.password, data: { controller: "ctmf-password" } %>
  </div>

  <div class="cf-turnstile" data-turnstile-target="widget"></div>

  <div>
    <%= f.submit "サインイン", data: { turnstile_target: "submit" }, disabled: true %>
  </div>
<% end %>
</div>

<br />

<p>アカウントをお持ちでなければ、<%= link_to(signup_path) do %>Sign up<% end %>。</p>
