<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="ja">
    <title><%= full_title(content_for(:title)) %></title>
    <meta name="theme-color" content="#91ff8e" />
    <%# <meta name="color-scheme" content="light" /> %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <meta name="format-detection" content="email=no,telephone=no,address=no" />
    <%= render "layouts/head" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-prefetch" content="false">
    <% if Rails.env.production? && !admin? %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V0CTL140Q8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "G-V0CTL140Q8");
    </script>
    <% end %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main>
      <%= yield %>
    </main>
    <% flash.each do |message_type, message| %>
      <div class="<%= message_type %>"
        style="position: fixed;
                bottom: 100px;
                right: 80px;
                padding: 4px 6px;
                border-radius: 6px;
                background: <%= message_type == "notice" ? "#bbd4f9" : "#ff9eb6" %>;"
      >
        <%= message %>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
