<% content_for :title, "パスワードを変更" %>
<% content_for :robots, "noindex,nofollow,noarchive" %>

<h1>パスワードを変更</h1>
<div data-controller="turnstile"
     data-turnstile-environment-value="<%= Rails.env %>"
     data-turnstile-sitekey-value="<%= ENV["CLOUDFLARE_TURNSTILE_SITE_KEY"] %>">
<%= form_with(model: @account, url: account_reset_password_update_path, method: :patch, data: { turbo: false }) do |form| %>
  <%= render "shared/error_messages", instead: @account %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, value: params.dig(:email) || params.dig(:account, :email) %>
  </div>

  <div>
    <%= form.label :reset_password_token, style: "display: block" %>
    <%= form.text_field :reset_password_token, value: params.dig(:token) || params.dig(:account, :reset_password_token) %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, value: params.dig(:account, :password) %>
  </div>

  <div>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, value: params.dig(:account, :password_confirmation) %>
  </div>

  <div class="cf-turnstile" data-turnstile-target="widget"></div>

  <div>
    <%= form.submit "送信", data: { turnstile_target: "submit" }, disabled: true  %>
  </div>
<% end %>
</div>
