<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Name_id:</strong>
    <%= service.name_id %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= service.summary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= service.host %>
  </p>

  <p>
    <strong>Redirect_uris:</strong>
    <%= service.redirect_uris %>
  </p>

  <p>
    <strong>Scopes:</strong>
    <%= service.scopes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= service.status %>
  </p>

</div>
