<% content_for :title, "Service" %>

<h1>Service Details</h1>

<%= render @service %>

<hr />

<div>
  <%= link_to "Edit this service", edit_admin_service_path(@service) %> |
  <%= link_to "Back to services", admin_services_path %>

  <%= button_to "Destroy this service", admin_service_path(@service), method: :delete %>
</div>

<hr />

<div>
  <strong>Host:</strong> <%= @service.host %>
  <br />
  <strong>Redirect URIs:</strong> <%= @service.redirect_uris.join(", ") %>
  <br />
  <strong>Scopes:</strong> <%= @service.scopes.join(", ") %>
</div>

<hr />

<h2>Overview</h2>

<p><%= @service.overview %></p>

<h2>Description</h2>

<p><%= md_render @service.description %></p>
