<% content_for :title, "お問い合わせ" %>

<h1>お問い合わせ</h1>
<p>件名、内容、名前は必須入力です。</p>
<p>基本的に、返信は致しません。</p>
<div data-controller="turnstile"
     data-turnstile-environment-value="<%= Rails.env %>"
     data-turnstile-sitekey-value="<%= ENV.fetch("CLOUDFLARE_TURNSTILE_SITE_KEY") %>">
<%= form_with model: @inquiry, url: confirm_inquiries_path, class: "ctmf", data: { turbo: false } do |f| %>
  <%= render "shared/error_messages", instead: @inquiry %>

  <div>
    <%= f.label :service_aid %>
    <%= f.collection_select :service_aid, @services, :aid, :name, selected: @inquiry.service_aid, include_blank: "選択しない" %>
  </div>

  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <% if @current_account %>
    <div>
      <%= f.check_box :link_account, checked: session[:inquiry_params].to_h["link_account"] %>
      <%= f.label :link_account %>
      <small>サインイン中のアカウントをお問い合わせに紐づけます</small>
      <small>紐づけた場合は以下の名前は不要です</small>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <small>入力は任意です</small>
    <small>基本的に、返信は致しません</small>
  </div>

  <div class="cf-turnstile" data-turnstile-target="widget"></div>

  <div>
    <%= f.submit "確認", data: { turnstile_target: "submit" }, disabled: true %>
  </div>
<% end %>
</div>
